@using Skrin.BLL.Infrastructure
@using Skrin.BLL.Authorization
@using Skrin.BLL.Root
@using Skrin.Models.Iss

@model CompanyShortInfo

@{
    Layout = null;
}
@{
    UserSession us = Context.GetUserSession();
    IEnumerable<int> a_types = null;

    if (us.UserId > 0)
    {
        var accesses = us.User.SitesAccess.Where(p => !p.IsOutOfDate).Select(p => p.AccessType);
        a_types = accesses.Select(p => (int)p);
    }

    var titles = new List<string>();
    titles.Add(Model.name);
    if (!string.IsNullOrWhiteSpace(Model.city))
    {
        titles.Add(Model.city);
    }

    if (!string.IsNullOrWhiteSpace(Model.inn))
    {
        titles.Add(string.Format("ИНН: {0}", Model.inn));
    }
    else
    {
        titles.Add("ИНН");
    }

    if (!string.IsNullOrWhiteSpace(Model.ogrn))
    {
        titles.Add(string.Format("ОГРН: {0}", Model.ogrn));
    }
    else
    {
        titles.Add("ОГРН");
    }

    var extra_titles = new List<string>(titles);

    if (!string.IsNullOrWhiteSpace(Model.okpo))
    {
        extra_titles.Add(string.Format("ОКПО: {0}", Model.okpo));
    }
    else
    {
        extra_titles.Add("ОКПО");
    }

    if (!string.IsNullOrWhiteSpace(Model.address))
    {
        extra_titles.Add(string.Format("юридический адрес: {0}", Model.address));
    }
    else
    {
        extra_titles.Add("юридический адрес");
    }

    if (!string.IsNullOrWhiteSpace(Model.ruler))
    {
        extra_titles.Add(string.Format("руководитель: {0}", Model.ruler));
    }
    else
    {
        extra_titles.Add("руководитель");
    }

    if (!string.IsNullOrWhiteSpace(Model.www))
    {
        extra_titles.Add(Model.www);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@(string.Join(", ", @titles)), юридический адрес, схема проезда</title> 
    <meta name="description" content="@(string.Join(", ", @extra_titles)) - учредители, бух. отчетность, арбитражные дела, госконтракты, выручка, прибыль, проверка, выписка ЕГРЮЛ" />  
    <meta name="keywords" content="@(string.Join(", ", @extra_titles)) - учредители, бух. отчетность, арбитражные дела, госконтракты, выручка, прибыль, проверка, выписка ЕГРЮЛ" />   
    <link rel="canonical" href="http://kontragent.skrin.ru/issuers/@Model.ticker"> 
    <link href="~/Content/iss/tabs.css" rel="stylesheet" />
    <link href="~/Content/iss/stoplight.css" rel="stylesheet" />
    <link href="~/Content/iss/fontello/css/fontello.css" rel="stylesheet" />
    <link href="~/Content/iss/fontello/css/animation.css" rel="stylesheet" />
    <link href="~/Content/forms.css" rel="stylesheet" />
    <link href="~/Content/modals.css" rel="stylesheet" />
    <link href="~/Content/modal_dialog.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/multiple-select/multiple-select.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="~/Content/iss/iss_main.css?ver=1.1" rel="stylesheet" />        
    <script src="~/Scripts/jquery144.js"></script>
    @if (us.UserId > 0)
    {
        <script src="~/Scripts/react.min.js"></script>
        <script src="~/Scripts/react-dom.min.js"></script>
        <script src="~/Scripts/bluebird.core.min.js"></script>
    }   
    <script>
    var user_id=@(us.UserId);
    var ISS = "@Model.ticker";
    var NAME="@Model.name";
    var ISSUER_ID="@Model.issuer_id";
    var TYPE_ID=@Model.type_id;
    var ACCESS=@(a_types==null ? "[]":("["+ string.Join(",",a_types) +"]"));
    //Список функций запускаемый после инициализвции меню
    var INIT_FUNCT={};
    var OPEN_COMPANY=@(ViewBag.OpenCompany ? "true;" : "false;")
    var job_street = [];
    var CanFL = @(ViewBag.CanFL ? "true;" : "false;")
     @Html.Raw(ViewBag.Script)
    </script>

</head>
<body>
    <div class="main">
        <div class="left-menu">
            <div id="logo" data-toggle="popover" data-placement="bottom">
                <div id="skrin_services_html" style="display:none">
                    <div id="skrin_services">
                        <a class="skrin_service" href="@Url.Content("~/")"><span class="span_service_header" id="span_service_title_k"></span><span class="span_service_title">Контрагент</span></a>
                        <hr />
                        <a class="skrin_service" href="http://podft.skrin.ru"><span class="span_service_header" id="span_service_title_p"></span><span class="span_service_title">ПОД/ФТ</span></a>
                        <a class="skrin_service" href="http://marketing.skrin.ru"><span class="span_service_header" id="span_service_title_m"></span><span class="span_service_title">Маркетинг и закупки</span></a>
                        <a class="skrin_service" href="http://disclosure.skrin.ru"><span class="span_service_header" id="span_service_title_d"></span><span class="span_service_title">Раскрытие информации</span></a>
                        <a class="skrin_service" href="http://center.skrin.ru"><span class="span_service_header" id="span_service_title_u"></span><span class="span_service_title">Обучение</span></a>
                        <hr />
                        <a class="skrin_service" href="http://skrin.ru"><span class="span_service_header">&nbsp;</span><span class="span_service_title">Все сервисы</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div id="header_panel">
                <div id="authorization">

                    @if (us.AuthenticationResult == AuthenticationType.Ok)
                    {
                        <span id="user_btn" class="icon-user login_info" data-toggle="popover" data-placement="bottom"></span>
                        <div id="info_user_block">
                            <span id="user_info" data-toggle="popover" data-placement="bottom" class="login_info">@us.User.Login.SaveTrim(13)</span><br />
                            @if (!us.User.UsePCBinding)
                            {
                                @Html.ActionLink("Выход", "Logout", "Authentication", null, new { id = "user_exit" })
                            }
                        </div>
                        <div id="user_hidden_info" style="display:none;">
                            <div class="form-group" style="width:220px;">
                                <label>Логин: @us.User.Login</label>
                            </div>
                            <div class="form-group" style="width:220px;">
                                <label>Доступ: @us.User.FullAccessName</label>
                            </div>
                            <div class="form-group">
                                <a href="/Authentication/Logout/" class="btns darkblue" style="color:#fff;text-decoration:none;">Выход</a>
                            </div>
                        </div>

                    }
                    else
                    {
                        <span id="user_btn" class="icon-user login" data-toggle="popover" data-placement="bottom"></span>
                        <div id="info_user_block">
                            <a href="#" data-toggle="popover" data-placement="bottom" id="login" class="login">Авторизация</a>
                        </div>
                    }
                </div>
                <div id="control_menu">
                    <span class="title">
                        <em>Визуализация связей</em>
                        <div class="icon_links disabled" id="vislink_btn"></div>
                    </span>
                    <span class="title">
                        <em>Экспорт в Word</em>
                        <span class="icon-file-word disabled" id="wrd_btn"></span>
                    </span>
                    <span class="title">
                        <em>Экспорт в Pdf</em>
                        <span class="icon-file-pdf disabled" id="pdf_btn"></span>
                    </span>
                    <span class="title">
                        <em>Экспорт в Excel</em>
                        <span class="icon-file-excel disabled" id="xls_btn"></span>
                    </span>
                    <span class="title">
                        <em>Печать</em>
                        <span class="icon-print disabled" id="print_btn"></span>
                    </span>
                </div>
                <div id="job_stats" class="title" style="display:none">
                    <em>Ход текущих заданий</em>
                    <div id="rot_box" onmouseover="show_job_list(event);" onclick="event.stopPropagation();"><span class="icon-cog"></span></div>
                    <div class="icon_job_cnt"></div>
                    <div id="job_list"></div>
                </div>
            </div>
            <div class="main_content">
                <div class="left_content">
                    @Html.Action("ProfileMain", new { ticker = Model.ticker })
                </div>
                <div class="right_content">
                    @Html.Action("ProfileRightMenu", new { ticker = Model.ticker })
                </div>
            </div>
            <div id="bottom">
                <div class="bottom_info">                    
                    @Html.Partial("ContactInfo")
                    @Html.Partial("Counters")
                </div>
            </div>
        </div>
    </div>      
    <script src="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="~/Scripts/multiple-select/multiple-select.js"></script>
    <script src="~/Scripts/iss/app.js?v.20170428"></script>
    <script src="~/Scripts/iss/app.desctop.js?20170328"></script>
    <script src="~/Scripts/modals.js"></script>
    <script src="~/Scripts/lib.js"></script>
    <script src="~/Scripts/progs2.js"></script>            
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>       
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
</body>
</html>
