@using Skrin.BLL.Infrastructure
@using Skrin.BLL.Authorization
@using Skrin.BLL.Root
@{
    UserSession us = Context.GetUserSession();
    string loc_path = (string)ViewBag.LocPath ?? Request.Url.LocalPath;
    MenuCreator mc = new MenuCreator(loc_path);
    string title = (string)ViewBag.Title ?? "СКРИН - Контрагент";
    string description = (string)ViewBag.Description ?? "Система комплексного раскрытия информации об эмитентах и профессиональных участниках фондового рынка (СКРИН). Список российских организаций и предприятий, выпускающих акции. База данных по брокерам и дилерам. База данных предприятий. Обзоры, аналитика, новости российского фондового рынка. Биржи, итоги торгов, котировки и рейтинги. Финансовые показатели";
    string keywords = (string)ViewBag.KeyWords ?? "скрин, национальная, ассоциация, участники, фондовый рынок, аналитика, новости, обзоры, рейтинг, акции, облигации, вексель, опцион, ценные бумаги, эмитент, эммитент, имитент, инвестор, прибыль, доход, убыток, бухгалтерская отчетность, россия, законодательство, статистика, карточка, информация, власть, экономика, политика, справка, бизнес, официальный, события, подробности, общество, промышленность, хозяйство, предприятия, регионы, отрасли, финансы, компании, российские, кредит, капитал, деньги, рубли, доллары, дивиденты, дивиденды, биржа, курсы валют, курс рубля, NYSE, NASDAQ, РТС, нефть, DJIA, DAX, Brent, Hang Seng, Bovespa, краткая справка, сравнение финансовых показателей, поиск финансовых показателей, электроэнергетика, машиностроение, металлургия, сельское хозяйство, пищевая промышленность, нефтегазовые, баланс, органы управления, квартальные отчеты, совладельцы, председатель правления, совет директоров, директор, корпоративные события, управление, дивиденды, реестр, регистратор, база данных предприятий";
}
<!DOCTYPE html>
<html id="main_html">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" /> 
    <meta name="yandex-verification" content="237b53ce739f509a" />   
    <title>@title</title>
    <script src="~/Scripts/jquery144.js"></script>
    <link href="~/Content/forms.css" rel="stylesheet" />
    <link href="~/Content/modals.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/modal_dialog.css" rel="stylesheet" />
    <link href="~/Content/iss/fontello/css/fontello.css" rel="stylesheet" />
    <link href="~/Content/iss/fontello/css/animation.css" rel="stylesheet" />
    @RenderSection("Css", false)
</head>
<body>
    <div id="header">
        <div id="logo" data-toggle="popover" data-placement="bottom">
            <div id="skrin_services_html" style="display:none">
                <div id="skrin_services">
                    <a class="skrin_service" href="@Url.Content("~/")"><span class="span_service_header" id="span_service_title_k"></span><span class="span_service_title">Контрагент</span></a>
                    <hr />
                    <a class="skrin_service" href="http://podft.skrin.ru"><span class="span_service_header" id="span_service_title_p"></span><span class="span_service_title">ПОД/ФТ</span></a>
                    <a class="skrin_service" href="http://marketing.skrin.ru"><span class="span_service_header" id="span_service_title_m"></span><span class="span_service_title">Маркетинг и закупки</span></a>
                    <a class="skrin_service" href="http://disclosure.skrin.ru"><span class="span_service_header" id="span_service_title_d"></span><span class="span_service_title">Раскрытие информации</span></a>
                    <a class="skrin_service" href="http://center.skrin.ru"><span class="span_service_header" id="span_service_title_u"></span><span class="span_service_title">Обучение</span></a>
                    <hr />
                    <a class="skrin_service" href="http://skrin.ru"><span class="span_service_header">&nbsp;</span><span class="span_service_title">Все сервисы</span></a>
                </div>                
            </div>
        </div>
        <div id="top_menu">
            @mc.GetRootTopMenu()
            <div id="authorization">

                @if (us.AuthenticationResult == AuthenticationType.Ok)
                {
                    <span id="user_btn" class="icon-user login_info" data-toggle="popover" data-placement="bottom"></span>
                    <div id="info_user_block">
                        <span id="user_info" data-toggle="popover" data-placement="bottom" class="login_info">@us.User.Login.SaveTrim(10)</span><br />
                        @if (!us.User.UsePCBinding)
                        {
                            @Html.ActionLink("Выход", "Logout", "Authentication", null, new { id = "user_exit" })
                        }
                    </div>
                    <div id="user_hidden_info" style="display:none;">
                        <div class="form-group" style="width:220px;">
                            <label>Логин: @us.User.Login</label>
                        </div>
                        <div class="form-group" style="width:220px;">
                            <label>Доступ: @us.User.FullAccessName</label>
                        </div>
                        <div class="form-group">
                            <a href="/Authentication/Logout/" class="btns darkblue" style="color:#fff;text-decoration:none;">Выход</a>
                        </div>
                    </div>

                }
                else
                {
                    <span id="user_btn" class="icon-user login" data-toggle="popover" data-placement="bottom"></span>
                    <div id="info_user_block">
                        <a href="#" data-toggle="popover" data-placement="bottom" id="login" class="login">Авторизация</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="main">
        @mc.GetRootBottomMenu()
        @RenderBody()
    </div>
    <div id="bottom">
        <ul class="main_bot_nav">
            <li>
                <h5>База данных СКРИН:</h5>
                <!--a href="/company/about/">Описание, источники</a> | -->
                <a href="/news/">Новые возможности системы</a> |
                <a href="/company/access/">Тарифы</a>
            </li>
            <li>
                <h5>Техническая поддержка:</h5>
                <a href="/company/ask/">Обратная связь</a> |
                <a href="/company/block/">Блокировка IP-адреса</a> |
                <a href="/company/rules/">Правила пользования сайтом</a> |
                <a href="/company/faq/">Настройки браузера</a> |
                <a href="/company/programs/">Установочные программы</a>
            </li>
        </ul>
        @Html.Partial("ContactInfo")
        @Html.Partial("Counters")
    </div>
    <script src="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="~/Scripts/modals.js"></script>
    <script src="~/Scripts/json2.min.js"></script>
    <script src="~/Scripts/lib.js"></script>
    <script src="~/Scripts/login_dialog.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    @RenderSection("Script", false)
</body>
</html>
