@using Skrin.BLL.Infrastructure
@using Skrin.BLL.Authorization
@using Skrin.BLL.Root
@{
  UserSession us = Context.GetUserSession();
  string loc_path = (string)ViewBag.LocPath ?? Request.Url.LocalPath;
  MenuCreator mc = new MenuCreator(loc_path);
 }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Система комплексного раскрытия информации об эмитентах и профессиональных участниках фондового рынка (СКРИН). Список российских организаций и предприятий, выпускающих акции. База данных по брокерам и дилерам. База данных предприятий. Обзоры, аналитика, новости российского фондового рынка. Биржи, итоги торгов, котировки и рейтинги. Финансовые показатели" />
    <meta name="keywords" content="скрин, национальная, ассоциация, участники, фондовый рынок, аналитика, новости, обзоры, рейтинг, акции, облигации, вексель, опцион, ценные бумаги, эмитент, эммитент, имитент, инвестор, прибыль, доход, убыток, бухгалтерская отчетность, россия, законодательство, статистика, карточка, информация, власть, экономика, политика, справка, бизнес, официальный, события, подробности, общество, промышленность, хозяйство, предприятия, регионы, отрасли, финансы, компании, российские, кредит, капитал, деньги, рубли, доллары, дивиденты, дивиденды, биржа, курсы валют, курс рубля, NYSE, NASDAQ, РТС, нефть, DJIA, DAX, Brent, Hang Seng, Bovespa, краткая справка, сравнение финансовых показателей, поиск финансовых показателей, электроэнергетика, машиностроение, металлургия, сельское хозяйство, пищевая промышленность, нефтегазовые, баланс, органы управления, квартальные отчеты, совладельцы, председатель правления, совет директоров, директор, корпоративные события, управление, дивиденды, реестр, регистратор, база данных предприятий" />
    <title>СКРИН</title>
    <script src="~/Scripts/jquery144.js"></script>

    <link href="~/Content/forms.css" rel="stylesheet" />
    <link href="~/Content/modals.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/modal_dialog.css" rel="stylesheet" />
    @RenderSection("Css", false)
    
</head>
<body>
    <div id="header">
        <div id="header_top">
            <div class="content">
                <div id="authorization">
                        @if (us.AuthenticationResult == AuthenticationType.Ok)
                        {
                            <span id="login_user"><span style="font-size:13px">Доступ:@us.User.FullAccessName</span><i class="icon-user" style="margin-left:15px;"></i>@us.User.Login</span> 
                            if(!us.User.UsePCBinding)
                            {
                                 @: : @Html.ActionLink("Выход","Logout", "Authentication") 
                            }
                        }
                        else
                        {
                            <a href="#" data-toggle="popover" data-placement="bottom" id="login">Авторизация</a>
                        }                        
                </div>
            </div>
        </div>
        <div id="header_bottom">
            <div class="content">
                <div id="logo">
                    <a href="@Url.Content("~/")"></a>
                </div>
                <div id="header_menu">
                    @mc.GetRootTopMenu()                  
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        @mc.GetRootBottomMenu()
        @RenderBody()
    </div>
    <div id="bottom">
        <div class="content">
            <div id="bottom_nav">
                <ul class="main_bot_nav">
                    <li>
                        <h5>База данных СКРИН:</h5>
                        <a href="/company/base_skrin/">Описание, источники</a> |
                        <a href="/company/base_skrin/new/">Новые возможности системы</a> |
                        <a href="/company/base_skrin/access/">Тарифы</a>
                    </li>
                    <li>
                        <h5>Техническая поддержка:</h5>
                        <a href="/company/support/">Обратная связь</a> |
                        <a href="/company/support/block/">Блокировка IP-адреса</a> |
                        <a href="/company/support/rules/">Правила пользования сайтом</a> |
                        <a href="/company/support/faq/">Настройки браузера</a> |
                        <a href="/company/support/programs/">Установочные программы</a>
                    </li>
                    <li>
                        <h5>О Компании:</h5>
                        <a href="/Company/">История, реквизиты</a> |
                        <a href="/Company/advert/">Реклама на сайте</a> |
                        <a href="/Company/job/">Вакансии</a> |
                        <a href="/Company/partners/">Наши партнеры</a> |
                        <a href="/company/events/">Мероприятия, проходящие при поддержке СКРИН</a>
                    </li>
                </ul>
            </div>
            <div class="restr_info">Воспроизведение, перепечатка или распространение иным образом материалов данного сайта возможно только с письменного разрешения и при указании гиперссылки на http://www.skrin.ru</div>
            <div class="contact_info">
                Отдел продаж СКРИН<br />
                Тел.: +7 (495) 787-17-67<br />
                Факс: +7 (495) 787-17-66<br />
                e-mail: sales@skrin.ru<br />
                ©1999-@DateTime.Now.Year АО «СКРИН»
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/modals.js"></script>
    <script src="~/Scripts/json2.min.js"></script>
    <script src="~/Scripts/lib.js"></script>
    <script src="~/Scripts/login_dialog.js"></script>
    
    @RenderSection("Script", false)
    
</body>
</html>