@using Skrin.BLL.Infrastructure
@using Skrin.BLL.Authorization
@using Skrin.BLL.Root
@using Newtonsoft.Json

@{
    UserSession us = Context.GetUserSession();
    string add_tag = us.AuthenticationResult == AuthenticationType.Ok ? "" : " readonly=\"readonly\" onclick=\"united_login(5);\" ";
    int user_id = us.UserId;
}

@section Css{
    <link href="~/Content/search.css?v=20170417" rel="stylesheet" />
    <link href="~/Content/tree.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker.css" rel="stylesheet" />
}

@section Script{
    <script src="~/Scripts/progs2.js"></script>
    <script src="~/Scripts/date.format.js"></script>
    <script src="~/Scripts/messages/pravo.js"></script>
    <script src="~/Scripts/messages/groupselector.js?20170412"></script>

    <script>
    var extGroupList =  @Html.Raw(JsonConvert.SerializeObject(AuthenticateSqlUtilites.GetExtGroupList(user_id)));
    var user_id=@(user_id);
    var roles_object=@Html.Raw(ViewBag.RolesJson);

    var isMsg=@ViewBag.isMsg;
    var Msg_reg_no="@ViewBag.Msg_reg_no";
    var Msg_id="@ViewBag.Msg_id";
    var Msg_src="@ViewBag.Msg_src";
    </script>
}

<div id="search_block" class="search_block_messages">
    <div id="search_block_base">
        <div class="content">
            <div id="base_block">
                <div class="form-group">
                    <label class="label_form">Дата поступления дела в суд</label>
                    <div class="sub_form">
                        <span style="padding: 0 10px 0 0;"> c </span>
                        <input id="insDate_DBeg" name="insDBeg" type="text" class="search_input short" data-check placeholder="ДД.ММ.ГГГГ" @Html.Raw(add_tag) />
                        <span style="padding: 0 10px;"> по </span>
                        <input id="insDate_DEnd" name="insDEnd" type="text" class="search_input short" data-check placeholder="ДД.ММ.ГГГГ" @Html.Raw(add_tag) />
                    </div>
                </div>
                <div class="form-group">
                    <label class="label_form">Дата обновления</label>
                    <div class="sub_form">
                        <span style="padding: 0 10px 0 0;"> c </span>
                        <input id="lastDate_DBeg" name="lastDBeg" type="text" class="search_input short" data-check placeholder="ДД.ММ.ГГГГ" @Html.Raw(add_tag) @((ViewBag.isSearch == "1") ? " value=" + ViewBag.dt : "") />
                        <span style="padding: 0 10px;"> по </span>
                        <input id="lastDate_DEnd" name="lastDEnd" type="text" class="search_input short" data-check placeholder="ДД.ММ.ГГГГ" @Html.Raw(add_tag) @((ViewBag.isSearch == "1") ? " value=" + ViewBag.dt : "") />
                    </div>
                </div>
                <div class="form-group">
                    <label for="job_no" class="label_form">Номер дела</label>
                    <div class="sub_form">
                        <input id="job_no" type="text" class="search_input" placeholder="Номер дела" data-check @((ViewBag.isMsg == "1") ? " value=" + ViewBag.Msg_reg_no : "") />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ac_type" class="label_form">Арбитражный суд</label>
                    <div class="sub_form">
                        <input id="ac_type" type="text" class="search_input" onclick="show_tree_selector(event,20,1)" placeholder="Арбитражный суд" title="Арбитражный суд" />
                    </div>
                    <input type="hidden" id="ac_type_val" value="" data-check /><input type="hidden" id="ac_type_excl" value="0" />
                </div>
                <div class="form-group">
                    <label for="disput_type" class="label_form">Категория спора</label>
                    <div class="sub_form">
                        <input id="disput_type" type="text" class="search_input" onclick="show_tree_selector(event,21,1)" placeholder="Категория спора" title="Категория спора" />
                    </div>
                    <input type="hidden" id="disput_type_val" value="" data-check /><input type="hidden" id="disput_type_excl" value="0" />
                </div>
                <div class="form-group">
                    <label for="search_text" class="label_form">Участник дела</label>
                    <div class="sub_form">
                        <input id="search_text" type="text" class="search_input" placeholder="Наименование, ИНН, ОГРН" data-check @((ViewBag.isSearch == "1") ? " value=" + ViewBag.ogrn : "") />
                    </div>
                </div>
                <div class="form-group">
                    <label for="gropVal" class="label_form">Группа</label>
                    <div class="sub_form">
                        <div id="groupSelect" class="customSelect" onclick="show_groupSelector();">
                            <span id="gropVal" class="customVal" data-check="" val="0">Нет</span>
                            <span class="icon-angle-down"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="side_type" class="label_form">Форма участия</label>
                    <div class="sub_form">
                        <input id="side_type" type="text" class="search_input" onclick="show_tree_selector(event,22,1)" placeholder="Форма участия" title="Форма участия" />
                    </div>
                    <input type="hidden" id="side_type_val" value="" data-check /><input type="hidden" id="side_type_excl" value="0" />
                </div>
                <div class="form-group">
                    <button class="btns darkblue large" id="btn_find">Найти</button>
                    <button class="btns grey large" id="btn_clear">Очистить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="result_block" class="events_search pravo_events_search">
    <div class="content">
        <div id="search_count">
        </div>
        <div id="search_result">
        </div>
        <div style="clear:both"></div>
    </div>
</div>