@model Skrin.Models.Iss.Content.PravoModel
@{
    Layout = null;
}

@{
    if (Model.PravoCompany.Mode == null || Model.PravoCompany.Mode == 0)
    {
        Model.PravoCompany.Mode = 2;
    }

}

<script>
    var NAME = "@Model.PravoCompany.SearchedName";
    var NAME2 = "@Model.PravoCompany.SearchedName2";
    var MODE = "@Model.PravoCompany.Mode";
    var INN = "@Model.PravoCompany.INN";
    var OGRN = "@Model.PravoCompany.OGRN";
</script>

<script src="~/Scripts/ip/pravo.js"></script>

<div class="left_content">
    <div style="float:left;width:100%;padding-top:10px;" id="pravo_found">
        <div id="summary" style="margin-top:6px;"></div>
        <div id="search_count" style="margin-top:10px;"></div>       
        <div id="t_content"></div>
        <div id="pager"></div>
        <div id="link_details"></div>
        <div id="testing">
        </div>
    </div>
</div>

<div class="right_content">
    <h3>Уточнить параметры поиска</h3>
    <div class="filter_form">
        <div class="filter_block">
            <div class="form-group">
                <h4>Текст</h4>
                <span id="autosearch_text"></span>
                <input type="text" name="kw" id="kw" class="form-control" style="width:80%" />
            </div>
        </div>
        <div class="filter_block">
            <h4>Период</h4>
            <div class="form-inline">
                <div class="form-group">
                    <label>с</label>
                    <input type="text" name="dfrom" id="dfrom" class="system_form" style="width:80px;" />
                </div>
                <div class="form-group">
                    <label>по</label>
                    <input type="text" name="dto" id="dto" class="system_form" style="width:80px;" />
                </div>
            </div>
        </div>
        <div class="filter_block">
            <div class="form-group">
                <h4>Номер дела</h4>
                <span id="job_text"></span>
                <input type="text" name="job_no" id="job_no" class="form-control" style="width:80%" />
            </div>
        </div>
        <div class="filter_block">
            <h4>Арбитражный суд</h4>
            <div class="form-group" id="courts_select"></div>
        </div>
        <div class="filter_block">
            <h4>Форма участия</h4>
            <div class="form-group" id="dtypes_select"></div>
        </div>
        <div class="filter_block">
            <h4>Категория дела</h4>
            <div class="form-group" id="dcategory_select">
                <div class="checkbox"><label><input type="checkbox" name="catselect" value="2"><span class="cat_blue">А</span>&nbsp;&nbsp;Административные</label></div>
                <div class="checkbox"><label><input type="checkbox" name="catselect" value="3"><span class="cat_green">Г</span>&nbsp;&nbsp;Гражданские</label></div>
                <div class="checkbox"><label><input type="checkbox" name="catselect" value="1"><span class="cat_red">Б</span>&nbsp;&nbsp;Банкротные</label></div>
                <div class="checkbox"><label><input type="checkbox" name="catselect" value="0"><span class="cat_yellow">П</span>&nbsp;&nbsp;Прочие</label></div>
            </div>
        </div>
        <div class="filter_block">
            <h4>Совпадения по</h4>
            <div class="form-group" id="mode_select">
                <div class="checkbox"><label><input type="checkbox" name="rmode" value="1"><span class="mode_green">V</span>&nbsp;&nbsp;ИНН и ОГРН</label></div>
                <div class="checkbox"><label><input type="checkbox" name="rmode" value="2"><span class="mode_yellow">!</span>&nbsp;&nbsp;ИНН или ОГРН</label></div>
                <div class="checkbox"><label><input type="checkbox" name="rmode" value="3"><span class="mode_red">?</span>&nbsp;&nbsp;Наименованию</label></div>
            </div>
        </div>
        <div class="filter_block button_block">
            <div class="form-group">
                <input type="button" value="Применить" class="btns darkblue large" id="btn_pr_find" onclick="pr_save_search_params(); pr_search(1);" />
            </div>
        </div>
    </div>
</div>
<div id="div_barg">
    <div class="form_container">
        <form name="news_form" id="news_form" onkeypress="news_search(event);">
            <input type="hidden" id="is_company" value="false" />
        </form>
    </div>
</div>