@using Skrin.Models.Iss.Content
@model DealInfo
@{
    Layout = null;
    int tab_id = 13;
    if(Model.InfoType==DealInfoTypes.Plans)
    {
        tab_id = 14;
    }
}

Период: <select id="period" class="system_form" onchange="goPeriod(this.value,@tab_id);">
        @foreach (var item in Model.Periods)
        {
            <option @(item.ValueDate==Model.SelectedPeriod ? "selected":"") value="@item.ValueDate">@item.ShowDate</option>
        }
    </select>

<br/>
<br/>
<span class="subcaption">@Model.Header</span>
<br/>
<br/>
@Model.Body
<div class="data_comment limitation">
    ВНИМАНИЕ: Представленные сведения являются результатом обработки данных первоисточника и могут не отражать абсолютную актуальность и достоверность информации. Дополнительную информацию можно получить в разделе
    <a onclick="gotomenu(48);" href="#">«Квартальные отчеты»</a>
</div>
<script>
    function goPeriod(period, tab_id) {
        showClock();
        $("#tab_content").load("/Tab/Index/?id=@tab_id&ticker=@Model.Ticker&period=" + period,
            function (data) {
                hideClock();
            }
        );

    }
</script>
