@model List<Skrin.Models.Iss.Content.NRARating>
@{
    Layout = null;
}
@if (Model.Where(p=>p.RatingTypeID==2).Count() > 0)
{
    <div class="subcaption">Рейтинг кредитоспособности</div>
    <table class="data_table" style="width:700px;" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <th>Период</th>
            <th>Внутренний рейтинг</th>
            <th>Международный рейтинг</th>
            <th>Прогноз</th>
        </tr>
        @foreach (var item in Model.Where(p => p.RatingTypeID == 2))
	{
		 <tr>
             <td>@item.Rating_Date</td>
             <td>@item.LocalRating</td>
             <td>@item.InternationalRating</td>
             <td>@item.ForeCast</td>
         </tr>
	}
    </table>
}

@if (Model.Where(p => p.RatingTypeID == 1).Count() > 0)
{
    <div class="subcaption">Рейтинг надежности</div>
    <table class="data_table" style="width:700px;" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <th>Период</th>
            <th>Внутренний рейтинг</th>
            <th>Международный рейтинг</th>
            <th>Прогноз</th>
        </tr>
        @foreach (var item in Model.Where(p => p.RatingTypeID == 1))
        {
            <tr>
                <td>@item.Rating_Date</td>
                <td>@item.LocalRating</td>
                <td>@item.InternationalRating</td>
                <td>@item.ForeCast</td>
            </tr>
        }
    </table>
}