@using Skrin.BLL.Infrastructure
@using Skrin.BLL.Authorization
@using Skrin.BLL.Root
@using Newtonsoft.Json

@{
    UserSession us = Context.GetUserSession();
    string add_tag = us.AuthenticationResult == AuthenticationType.Ok ? "": " readonly=\"readonly\" onclick=\"united_login(5);\" ";
    int user_id = us.UserId;
}

@section Css{
<link href="~/Content/index.css" rel="stylesheet" />
<link href="~/Content/search.css" rel="stylesheet" />
<link href="~/Content/tree.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker.css" rel="stylesheet" />
}
@section Script{
<script src="~/Scripts/progs2.js"></script>
<script src="~/Scripts/seekEgrul.js"></script>
<script src="~/Scripts/issuer_list.js"></script>
<script src="~/Scripts/search/companies.js"></script>
<script>
    var extGroupList =  @Html.Raw(JsonConvert.SerializeObject(AuthenticateSqlUtilites.GetExtGroupList(user_id)));
    var user_id=@(user_id);

    var roles_object=@Html.Raw(ViewBag.RolesJson);

     $("#codes").attr({ "title": acodes[1].txt });
</script>
<iframe class="service_frame" name="xls_frame" id="xls_frame" onload="hideClock();"></iframe>
}


<div id="search_block">
    <div class="content">
        <a name="top" style="color:#000"></a>
        <!--<h2>Список юридических лиц</h2>-->
        <table cellpadding="10" style="width:100%;">
            <tr>
                <td>
                    <div id="d1" style="width: 100%;padding-right: 10px;">


                        <div id="main_search" style="background-color: #E6E6E6; padding-bottom: 8px; padding-right: 8px;">
                            <div style="height: 6px;" id="zaglushka">
                            </div>

                            <div id="hide_form" style="width: 100%; text-align: right; display: none; padding-top: 4px; padding-bottom: 0px;">
                                <table style="width: 100%; " cellspacing="1" cellpadding="2" border="0">
                                    <tr>
                                        <td>
                                            <span class="incaption" style="margin-left: 15px;">ПОИСК ПО РЕКВИЗИТАМ</span>
                                        </td>
                                        <td style="text-align: right;">
                                            <input type="button" class="btns blue" style="width: 120px;" value="Скрыть форму" id="btn_hide" onclick="toggle_form()" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <table style="width: 100%; " cellspacing="6" cellpadding="2" id="search_table" border="0">
                                <tr>
                                    <td style="text-align: right; padding-left: 8px;">
                                        Наименование
                                    </td>
                                    <td colspan="3" style="width: 100%">
                                        <table style="width: 100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td id="td_comp" style="white-space: nowrap;">
                                                    <input type="text" id="comp" name="comp" onkeyup="show_bones(event)" class="system_form"
                                                           style="width: 98%" />
                                                </td>
                                                <td style="width: 120px">
                                                    <input type="checkbox" id="rsv" name="rsv" value="0" style="float: left; margin-right:5px;" />строгий поиск
                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        Руководитель
                                    </td>
                                    <td id="td_ruler" style="white-space: nowrap;" colspan="3">
                                        <input type="text" id="ruler" name="ruler" style="width: 100%;" class="system_form" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        Учредитель
                                    </td>
                                    <td id="td_constitutor" style="white-space: nowrap;" colspan="3">
                                        <input type="text" id="constitutor" name="constitutor" style="width: 100%;" class="system_form" />
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;" title="в соответствии с ОКОПФ - Общероссийский классификатор организационно-правовых форм">
                                        ОПФ
                                    </td>
                                    <td id="td_okopf" style="width: 50%; white-space: nowrap;" title="в соответствии с ОКОПФ - Общероссийский классификатор организационно-правовых форм">
                                        <input type="text" id="okopf" name="d_okopf" style="width: 100%; cursor: pointer;"
                                               readonly="readonly" class="system_form" onclick="show_tree_selector(event,4,1)" /><input type="hidden" id="okopf_val" value="" /><input type="hidden" id="okopf_excl" value="0" />
                                    </td>
                                    <td style="text-align: right; white-space: nowrap;" title="в соответствии с ОКФС - Общероссийский классификатор форм собственности">
                                        Форма собственности
                                    </td>
                                    <td id="td_okfs" style="width: 50%; white-space: nowrap;" title="в соответствии с ОКФС - Общероссийский классификатор форм собственности">
                                        <input type="text" id="okfs" name="d_okfs" style="width: 100%; cursor: pointer;"
                                               class="system_form" readonly="readonly" onclick="show_tree_selector(event,3,1)" /><input type="hidden" id="okfs_val" /><input type="hidden" id="okfs_excl" value="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        Коды
                                    </td>
                                    <td id="td1" style="width: 50%; white-space: nowrap;">
                                        <input type="text" id="codes" name="codes" style="width: 100%;" class="system_form_grey" onclick="CodesClick();" onfocus="CodesFocus();" onblur="CodesBlur();" />
                                    </td>
                                    <td style="text-align: right; white-space: nowrap; padding-left: 5px;">
                                        Дата присвоения ОГРН c
                                    </td>
                                    <td style="width: 50%; white-space: nowrap;">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width: 50%;">
                                                    <input type="text" id="dfrom" class="system_form" style="width: 100%;" @Html.Raw(add_tag) />
                                                </td>
                                                <td style="width: 20px;padding:0 10px;">
                                                    по
                                                </td>
                                                <td style="width: 50%; white-space: nowrap;">
                                                    <input type="text" id="dto" class="system_form" style="width: 100%;" @Html.Raw(add_tag) />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                             
                                <tr>
                                    <td style="text-align: right;">
                                        Отрасль
                                    </td>
                                    <td id="td_ind" style="width: 50%; white-space: nowrap;" title="Общероссийский классификатор видов экономической деятельности">
                                        <input type="text" id="ind" name="ind" style="width: 100%; cursor: pointer;" readonly="readonly"
                                               class="system_form" onclick="show_tree_selector(event,ind_type,1,0)" /><input type="hidden"
                                                                                                                             id="ind_val" value="" /><input type="hidden" id="ind_excl" value="0" />
                                    </td>
                                    <td style="text-align: right;">
                                        Регион
                                    </td>
                                    <td id="td_reg" style="width: 50%; white-space: nowrap;" title="Общероссийский классификатор объектов административно-территориального деления">
                                        <input type="text" id="reg" name="reg" style="width: 100%; cursor: pointer;" readonly="readonly"
                                               class="system_form" onclick="show_tree_selector(event,reg_type,1,0)" /><input type="hidden"
                                                                                                                             id="reg_val" value="" /><input type="hidden" id="reg_excl" value="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" style="border: none; height: 9px;" id="td_indtype">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="radio" id="ind_default" name="ind_type" value="1" checked="checked"
                                                               onclick="ch_ind_type(this)" />
                                                    </td>
                                                    <td class="code_comment" title="Общероссийский классификатор видов экономической деятельности">
                                                        ОКВЭД&nbsp;&nbsp;
                                                    </td>
                                                    <td>
                                                        <input type="radio" name="ind_type" value="99" onclick="ch_ind_type(this)" />
                                                    </td>
                                                    <td class="code_comment" title="Общероссийский классификатор видов экономической деятельности">
                                                        ОКВЭД (основной)&nbsp;&nbsp;
                                                    </td>
                                                    <td>
                                                        <input type="radio" name="ind_type" value="2" onclick="ch_ind_type(this)" />
                                                    </td>
                                                    <td class="code_comment" title='Общесоюзный классификатор "Отрасли народного хозяйства"'>
                                                        ОКОНХ
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" style="border: none; height: 9px;" id="td_regtype"
                                               class="code_comment">
                                            <tr>
                                                <td>
                                                    <input type="radio" id="reg_default" name="reg_type" value="0" checked="checked"
                                                           onclick="ch_reg_type(this)" />
                                                </td>
                                                <td class="code_comment" title="Общероссийский классификатор объектов административно-территориального деления">
                                                    ОКАТО&nbsp;&nbsp;
                                                </td>
                                                <td>
                                                    <input type="radio" name="reg_type" value="5" onclick="ch_reg_type(this)" />
                                                </td>
                                                <td class="code_comment" title="по регистрации в налоговых органах">
                                                    по регистрации в налоговых органах
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        Адрес
                                    </td>
                                    <td style="width: 50%; white-space: nowrap;">
                                        <input type="text" id="addr" name="addr" style="width: 100%;" class="system_form" @Html.Raw(add_tag) />
                                    </td>
                                    <td style="text-align: right;">
                                        <img src="/images/icon_information_small.gif" onclick="showwin('info','<p align=center>Код города нужно выделять скобками</p>',2000);"  alt=""/>Телефон
                                    </td>
                                    <td style="width: 50%; white-space: nowrap;">
                                        <input type="text" id="phone" name="phone" style="width: 100%;" class="system_form" @Html.Raw(add_tag) />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        Листинг
                                    </td>
                                    <td style="width: 50%; white-space: nowrap;">
                                        <table cellpadding="0" cellspacing="3" style="border: none; height: 9px;">
                                            <tbody>
                                                <tr>                                                    
                                                    <td>
                                                        <input type="checkbox" id="l2" name="l2" value="1" />
                                                    </td>
                                                    <td>
                                                        ММВБ
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" id="l3" name="l3" value="1" />
                                                    </td>
                                                    <td>
                                                        РТС Board
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="text-align: right;">
                                        Наличие
                                    </td>
                                    <td style="width: 50%;">
                                        <table cellpadding="0" cellspacing="3" style="border: none; height: 9px;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" id="gaap" name="gaap" value="1" />
                                                    </td>
                                                    <td>
                                                        Отчетности IAS-GAAP
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" id="bankr" name="bankr" value="1" @Html.Raw(add_tag) @(user_id==0 ? "":"disabled=\"disabled\"")  />
                                                    </td>
                                                    <td>
                                                        В реестре недобросовестных поставщиков
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" id="rgstr" name="rgstr" value="1" @Html.Raw(add_tag) @(user_id == 0 ? "" : "disabled=\"disabled\"") />
                                                    </td>
                                                    <td>
                                                        В реестре Росстата
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;">
                                        Группы
                                    </td>
                                    <td id="td3" style="width: 50%; white-space: nowrap;">
                                        <div class="groupSelect" id="groupSelect" onclick="show_groupSelector();">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                <tr style="width: 100%">
                                                    <td align="left" id="groupTd">
                                                        <span id="gropVal" val="0" style="width: 100%">Нет</span>
                                                    </td>
                                                    <td align="right">
                                                        <img src="/images/select_bottom_small2.gif" id="gropImg" alt="" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div id="group_cnt" style="display:none;"></div>
                                    </td>
                                    <td style="text-align: right;">
                                        <img src="/images/icon_information_small.gif" onclick="showwin('info','<p align=center>Выбор предприятий,  находящихся в  Реестре Хозяйствующих субъектов, <br />имеющих долю на рынке выбранного региона определенного товара, <br />работ, услуг в размере более 35%.<br />Источник данных: ФАС России</p>',0);"  alt=""/>Лидеры рынка (по регионам)
                                    </td>
                                    <td id="td_fas" style="width: 50%; white-space: nowrap;">
                                        <input type="text" id="fas" name="fas" style="width: 100%; cursor: pointer;" readonly="readonly"
                                               class="system_form" onclick="show_tree_selector(event,9,1,1)" /><input type="hidden"
                                                                                                                      id="fas_val" value="" /><input type="hidden" id="fas_excl" value="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        Выводить по
                                    </td>
                                    <td>
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td style="text-align:left; width:60px;" id="td4">
                                                    <div class="countSelect" id="countSelect" onclick="show_countSelector();">
                                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                            <tr>
                                                                <td align="left" style="width: 100%" id="countTd">
                                                                    <span id="countVal" val="30" style="width: 100%">30</span>
                                                                </td>
                                                                <td align="right">
                                                                    <img src="/images/select_bottom_small2.gif" id="countImg" alt="" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td style="text-align:left">
                                                    записей на страницу.
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td></td>
                                    <td style="text-align: right;">
                                        <input type="button" class="btns grey" onclick="doClear()" style="width: 120px;"
                                               value="Очистить" />&nbsp;
                                        <input type="button" id="btn_search" class="btns blue" onclick="doSearch()" style="width: 120px;"
                                               value="Найти" />&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="search_result">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
