@model List<string>
@using Skrin.BLL.Infrastructure
@using Skrin.BLL.Authorization
@using Skrin.BLL.Root
@using Newtonsoft.Json

@{
    UserSession us = Context.GetUserSession();
    string add_tag = us.AuthenticationResult == AuthenticationType.Ok ? "" : " readonly=\"readonly\" onclick=\"united_login(5);\" ";
    int user_id = us.UserId;
}

@section Css{
<link href="~/Content/search.css?v=20170417" rel="stylesheet" />
<link href="~/Content/tree.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker.css" rel="stylesheet" />
}

@section Script{
<script src="~/Scripts/progs2.js"></script>
<script src="~/Scripts/seekEgrul.js"></script>
<script src="~/Scripts/issuer_list.js"></script>
<script src="~/Scripts/search/companies.js?v=201705112"></script>

<script>
    var extGroupList =  @Html.Raw(JsonConvert.SerializeObject(AuthenticateSqlUtilites.GetExtGroupList(user_id)));
    var user_id=@(user_id);

    var roles_object=@Html.Raw(ViewBag.RolesJson);
    var group_limit=@(us.GroupLimit);

    @if (Model.Count > 0)
    {
        string values="";
        foreach (var item in Model)
	    {
		    values+=item;
	    }

        @: $().ready(function () {
                    @Html.Raw(values);
            @:search_check_changes();
                    @:doSearch();
                    @:_toggle_extented_search(false);
                @:});

    }

</script>
<iframe class="service_frame" name="xls_frame" id="xls_frame" onload="hideClock();"></iframe>
}
<div id="search_block">
    <div id="search_block_base">
        <div class="content">
            <div id="base_block">
                <input class="search_input large" id="comp" placeholder="Наименование, ИНН, ОКПО, ОГРН"  />
                <button class="btns darkblue large" onclick="doSearch()">Найти</button>
                <button class="btns grey large" onclick="doClear()">Очистить</button><br />
                <h3 id="extended_switcher"><span id="extended_switcher_inner">Расширенный поиск</span><span id="switcher_ico" class="icon-angle-down"></span></h3>
            </div>
        </div>
    </div>
    <div id="search_block_extended">
        <div class="content">
            <div id="extended_block">
                <div class="form-group">
                    <label for="ruler" class="label_form">Руководитель</label>
                    <div class="sub_form">
                        <input id="ruler" type="text" class="search_input" placeholder="Ф.И.О., ИНН" data-check />
                    </div>
                </div>
                <div class="form-group">
                    <label for="constitutor" class="label_form">Учредитель</label>
                    <div class="sub_form">
                        <input id="constitutor" type="text" class="search_input" placeholder="Ф.И.О., ИНН" data-check />
                    </div>
                </div>
                <div class="form-group">
                    <label for="okopf" class="label_form">ОПФ</label>
                    <div class="sub_form">
                        <input id="okopf" type="text" class="search_input" onclick="show_tree_selector(event,4,1)" placeholder="ОПФ" title="в соответствии с ОКОПФ - Общероссийский классификатор организационно-правовых форм" />
                    </div>
                    <input type="hidden" id="okopf_val" value="" data-check /><input type="hidden" id="okopf_excl" value="0" />
                </div>
                <div class="form-group">
                    <label for="okfs" class="label_form">Форма собственности</label>
                    <div class="sub_form">
                        <input id="okfs" type="text" class="search_input" onclick="show_tree_selector(event,3,1)" placeholder="Форма собственности" title="в соответствии с ОКФС - Общероссийский классификатор форм собственности" />
                    </div>
                    <input type="hidden" id="okfs_val" value="" data-check /><input type="hidden" id="okfs_excl" value="0" />
                </div>
                <div class="form-group">
                    <label class="label_form">Дата ОГРН</label>
                    <div class="sub_form">
                        <span style="padding: 0 10px 0 0;"> c </span>
                        <input id="dfrom" type="text" class="search_input short" data-check placeholder="ДД.ММ.ГГГГ" @Html.Raw(add_tag) />
                        <span style="padding: 0 10px;"> по </span>
                        <input id="dto" type="text" class="search_input short" data-check placeholder="ДД.ММ.ГГГГ" @Html.Raw(add_tag) />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ind" class="label_form">Отрасль</label>
                    <div class="sub_form">
                        <input id="ind" type="text" class="search_input" onclick="show_tree_selector(event,ind_type,1,0)" placeholder="Отрасль (ОКВЭД)" title="Общероссийский классификатор видов экономической деятельности" />
                        <div class="form_switcher">
                            <input type="radio" value="24" checked="checked" name="ind_type" onclick="ch_ind_type(this)" />ОКВЭД
                            <input type="radio" value="99" name="ind_type" onclick="ch_ind_type(this)" />ОКВЭД (основной)
                        </div>
                        <input type="hidden" id="ind_val" data-check value="" /><input type="hidden" id="ind_excl" value="0" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="reg" class="label_form">Регион</label>
                    <div class="sub_form">
                        <input id="reg" type="text" class="search_input" onclick="show_tree_selector(event,reg_type,1,0)" placeholder="Регион" title="Общероссийский классификатор объектов административно-территориального деления" />
                        <div class="form_switcher">
                            <input type="radio" value="0" checked="checked" name="reg_type" onclick="ch_reg_type(this)" />ОКАТО
                            <input type="radio" value="5" name="reg_type" onclick="ch_reg_type(this)" />по регистрации в налоговых органах
                        </div>
                    </div>
                    <input type="hidden" id="reg_val" data-check value="" /><input type="hidden" id="reg_excl" value="0" />
                </div>
                <div class="form-group">
                    <label for="addr" class="label_form">Адрес</label>
                    <div class="sub_form">
                        <input id="addr" type="text" class="search_input" data-check placeholder="Адрес" @Html.Raw(add_tag) />
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="label_form">Телефон</label>
                    <div class="sub_form">
                        <input id="phone" type="text" class="search_input" data-check placeholder="Телефон (Код региона в скобках)" title="Код города нужно выделять скобками" @Html.Raw(add_tag) />
                    </div>
                </div>
                <div class="form-group">
                    <label class="label_form">Листинг</label>
                    <div class="sub_form">
                        <input type="checkbox" id="l2" name="l2" value="1" data-check />ММВБ
                        <input type="checkbox" id="l3" name="l3" value="1" data-check />РТС Board
                    </div>
                </div>
                <div class="form-group">
                    <label class="label_form">Наличие</label>
                    <div class="sub_form">
                        <div class="sub_form_block">
                            <input type="checkbox" id="gaap" name="gaap" value="1" data-check />Отчетности IAS-GAAP
                        </div>
                        <div class="sub_form_block">
                            <input type="checkbox" id="bankr" name="bankr" data-check value="1" @Html.Raw(add_tag) @(user_id != 0 ? "" : "disabled=\"disabled\"") />В реестре недобросовестных поставщиков
                        </div>
                        <div class="sub_form_block">
                            <input type="checkbox" id="rgstr" name="rgstr" data-check value="1" @Html.Raw(add_tag) @(user_id != 0 ? "" : "disabled=\"disabled\"") />В реестре Росстата
                        </div>
                        <div class="sub_form_block">
                            <input type="checkbox" id="msp" name="msp" value="1" data-check />В реестре малых предприятий
                        </div>
                        <div class="sub_form_block">
                            <input type="checkbox" id="rsbu" name="rsbu" value="1" data-check />Бухгалтерской отчетности по РСБУ за последний период
                        </div>
                        <div class="sub_form_block">
                            <input type="checkbox" id="status" name="status" data-check value="1" @Html.Raw(add_tag) @(user_id != 0 ? "" : "disabled=\"disabled\"") />Действующие по данным ЕГРЮЛ
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fas" class="label_form">Лидеры рынка (по регионам)</label>
                    <div class="sub_form">
                        <input id="fas" type="text" class="search_input" onclick="show_tree_selector(event,9,1,1)" placeholder="Лидеры рынка (по регионам)" title="Выбор предприятий,  находящихся в  Реестре Хозяйствующих субъектов, имеющих долю на рынке выбранного региона определенного товара, работ, услуг в размере более 35%." />
                    </div>
                    <input type="hidden" id="fas_val" data-check value="" /><input type="hidden" id="fas_excl" value="0" />
                </div>
                <div class="form-group">
                    <label class="label_form"></label>
                    <div class="sub_form">
                        <div class="sub_form_block">
                            <input type="checkbox" id="filials" name="filials" value="1" data-check />Исключить представительства и филиалы
                        </div>
                        <div class="sub_form_block">
                            <input type="checkbox" id="archive" name="archive" value="1" data-check checked />Искать в архиве
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gropVal" class="label_form">Группы</label>
                    <div class="sub_form">
                        <div class="customSelect" id="groupSelect" onclick="show_groupSelector();">
                            <span id="gropVal" class="customVal" data-check val="0">Нет</span>
                            <span class="icon-angle-down"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="countVal" class="label_form">Выводить по</label>
                    <div class="sub_form">
                        <div class="customSelect" id="countSelect" onclick="show_countSelector();">
                            <span id="countVal" class="customVal" val="30">30</span>
                            <span class="icon-angle-down"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btns darkblue large" onclick="doSearch()">Найти</button>
                    <button class="btns grey large" onclick="doClear()">Очистить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="result_block">
    <div class="content">
        <span id="total" class="total_count" style="display:none;margin-left:20px;"></span>
            <div id="search_result" style="display:none;">
                <div id="res_block" class="res_block">
                    <div id="export_block" class="export_block" style="display:none;"></div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div id="links" class="links_empty"></div>
    </div>
</div>

