@model Skrin.Models.UA.UAProfile
@using Skrin.BLL.Infrastructure
@{
    Layout = null;
    int _i = 0;
    var _id = "";
}

<div id="issuer_content" class="left_content_html">
    
    <h1>@Model.short_name</h1>
    <h3>@Model.name</h3>

    <div id="contact_info">
        @Model.address.Formated("{0}<br/>")
        @if (Model.phone + Model.fax != "")
        {
            @Model.phone.Formated("Тел: {0}")
            if (Model.fax != "")
            {
                if (Model.phone != "")
                {
                    @:,&#160;
            }
            @:Факс: @Model.fax
        }
        <br />
        }
        @if (Model.email + Model.web != "")
        {
            @Model.web
            if (Model.email != "")
            {
                if (Model.web != "")
                {
                    @:,&#160;
            }
            @Model.email
            }
            <br />
        }
    </div>
   
    <div class="info_block">
        <table class="profile_table" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>Субъект</th>
                <td>@Model.area_name</td>
            </tr>
            <tr>
                <th>Руководитель</th>
                <td>@if (Model.ruler_title != "") { @Model.ruler_title }  @Model.ruler_name</td> 
            </tr>
        </table>
    </div>
    <div class="info_block">
        <table class="profile_table" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>ЕДРПОУ<!-- - Единый государственный реестр предприятий и организаций Украины--></th>
                <td>@Model.edrpou</td>
            </tr>
            <tr>
                <th>Основной вид экономической деятельности</th>
                <td>@Model.main_kved&nbsp;@Model.main_kved_descr</td>
            </tr>
            <tr>
                <th>Номер свидетельства о государственной регистрации</th>
                <td>@Model.regno</td>
            </tr>
            <tr>
                <th>Дата внесения записи в гос.Реестр</th>
                <td>@Model.regdate</td>
            </tr>
            <tr>
                <th>Орган, осуществивший государственную регистрацию</th>
                <td>@Model.regorg</td>
            </tr>
            <tr>
                <th>КОАТУУ<!-- - Классификатор объектов административно-территориального устройства Украины--></th>
                <td>@Model.koatuu &nbsp;@Model.koatuu_name</td>
            </tr>
            <tr>
                <th>СПОДУ<!-- - Система обозначений органов Государственного управления--></th>
                <td>@Model.spodu &nbsp;@Model.spodu_descr</td>
            </tr>
            <tr>
                <th>КФВ<!-- - Классификация форм собственности--></th>
                <td>@Model.kfv &nbsp;@Model.kfv_descr</td>
            </tr>
            <tr>
                <th>КОПФГ<!-- - Классификация организационно-правовых форм хозяйствования--></th>
                <td>@Model.opf @Model.opf_descr</td>
            </tr>
            <tr>
                <th>Дополнительные виды экономической деятельности</th>
                <td>
                    @foreach (var ok in Model.all_kveds)
                    {
                        if (@ok.is_main == 0)
                        {
                            <div>@Html.Raw(ok.kod + "&#160;" + ok.name)</div>
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
</div>
