
@using Skrin.BLL.Infrastructure
@using Skrin.BLL.Authorization
@using Skrin.BLL.Root
@using Newtonsoft.Json

@{
    UserSession us = Context.GetUserSession();
    string add_tag = us.AuthenticationResult == AuthenticationType.Ok ? "" : " readonly=\"readonly\" onclick=\"united_login(5);\" ";
    int user_id = us.UserId;
}

@section Css{
    <link href="~/Content/search.css" rel="stylesheet" />
    <link href="~/Content/tree.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/multiple-select/multiple-select.css" rel="stylesheet" />
}

@section Script{
    <script src="~/Scripts/multiple-select/multiple-select.js"></script>
    <script src="~/Scripts/progs2.js"></script>
    <!--script-- src="~/Scripts/seekEgrul.js"></!--script-->
    <!--script src="~/Scripts/issuer_list.js"></!--script-->
    <script src="~/Scripts/search/companies.js"></script>
    <script src="~/Scripts/search/companies_ua.js"></script>

    <script>
    var extGroupList =  @Html.Raw(JsonConvert.SerializeObject(AuthenticateSqlUtilites.GetExtGroupList(user_id)));
    var user_id=@(user_id);
    var roles_object=@Html.Raw(ViewBag.RolesJson);
    
    var multiple_options = {
        single: false,
        selectAllText: 'Все',
        allSelected: 'Все',
        countSelected: '# из %',
        selectAllDelimiter: ['', '']
    }

    $(document).ready(function () {
        reg_type = 42;
        ind_type = 44;
        titles = { 
            "okopf": "в соответствии с КОПФГ - Классификация организационно-правовых форм хозяйствования", 
            "okfs": "в соответствии с КФС - Классификация форм собственности",
            "ind":"Классификатор основных видов деятельности",
            "reg":"Классификатор объектов административно-территориального устройства Украины" };
        regtitles = { "i42": "Классификатор объектов административно-территориального устройства Украины", "i43": "по регистрации в налоговых органах" }
        //$('#okfs_list').get(0).selectedIndex = 0;
        $('#okfs_list').multipleSelect(multiple_options);
    });
    </script>
    <iframe class="service_frame" name="xls_frame" id="xls_frame" onload="hideClock();"></iframe>
}
<div style="min-height:620px;">
    <div id="search_block">
        <div id="search_block_base">
            <div class="content">
                <div id="base_block">
                    <input class="search_input large" id="comp_ua" placeholder="Наименование, ЕДРПОУ" />
                    <button class="btns darkblue large" onclick="doSearchUA()">Найти</button>
                    <button class="btns grey large" onclick="doClear()">Очистить</button>
                    <!--span id="extended_switcher" class="icon-angle-down">Расширенный поиск</span-->
                    <h3 id="extended_switcher">
                        <span id="extended_switcher_inner">Расширенный поиск</span>
                        <span id="switcher_ico" class="icon-angle-down"></span>
                    </h3>
                </div>
            </div>
        </div>
        <div id="search_block_extended">
            <div class="content">
                <div id="extended_block">
                    <!--h3>Расширенный поиск</h3-->
                    <div class="form-group">
                        <label for="ruler" class="label_form">Руководитель</label>
                        <div class="sub_form">
                            <input id="ruler" type="text" class="search_input" placeholder="Руководитель" data-check />
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label for="constitutor" class="label_form">Учредитель</label>
                        <div class="sub_form">
                            <input id="constitutor" type="text" class="search_input" placeholder="Учредитель" data-check />
                        </div>
                    </div-->
                    <div class="form-group">
                        <label for="okopf" class="label_form">КОПФГ</label>
                        <div class="sub_form">
                            <input id="okopf" type="text" class="search_input" onclick="show_tree_selector(event,41,1)" placeholder="КОПФГ" title="в соответствии с КОПФГ - Классификация организационно-правовых форм хозяйствования" />
                        </div>
                        <input type="hidden" id="okopf_val" value="" data-check /><input type="hidden" id="okopf_excl" value="0" />
                    </div>
                    <div class="form-group">
                        <label for="okfs_list" class="label_form">
                            Форма собственности
                        </label>
                        <select id="okfs_list" multiple="multiple" class="search_input">
                            @foreach (var kf in ViewBag.kfss)
                        {
                                <option value="@kf.Item2">@kf.Item1</option>
                        }
                        </select>
                        <!--input id="okfs" type="text" class="search_input" onclick="show_tree_selector(event,42,0,1)" placeholder="Форма собственности" title="в соответствии с КФС - Классификация форм собственности" /-->
                        <input type="hidden" id="okfs_val" value="" data-check /><input type="hidden" id="okfs_excl" value="0" />
                    </div>
                    <div class="form-group">
                        <label class="label_form">Дата регистрации c</label>
                        <div class="sub_form">
                            <span style="padding: 0 10px 0 0;"> c </span>
                            <input id="dfrom" type="text" class="search_input short" data-check placeholder="ДД.ММ.ГГГГ" @Html.Raw(add_tag) />
                            <span style="padding: 0 10px;"> по </span>
                            <input id="dto" type="text" class="search_input short" data-check placeholder="ДД.ММ.ГГГГ" @Html.Raw(add_tag) />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ind" class="label_form">Отрасль</label>
                        <div class="sub_form">
                            <input id="ind" type="text" class="search_input" onclick="show_tree_selector(event,ind_type,1,0)" placeholder="Отрасль" title="Классификатор основных видов деятельности" />
                            <div class="form_switcher">
                                <input type="radio" value="44" checked="checked" name="ind_type" onclick="ch_uaind_type(this)" />КВЭД
                                <input type="radio" value="45" name="ind_type" onclick="ch_uaind_type(this)" />КВЭД (основной)
                            </div>
                            <input type="hidden" id="ind_val" data-check value="" /><input type="hidden" id="ind_excl" value="0" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reg" class="label_form">Регион</label>
                        <div class="sub_form">
                            <input id="reg" type="text" class="search_input" onclick="show_tree_selector(event, reg_type, 1, 0)" placeholder="Регион" title="Классификатор объектов административно-территориального устройства Украины" />
                            <div class="form_switcher">
                                <input type="radio" value="42" checked="checked" name="reg_type" onclick="ch_uareg_type(this)" />КОАТУУ
                                <input type="radio" value="43" name="reg_type" onclick="ch_uareg_type(this)" />по регистрации в налоговых органах
                            </div>
                        </div>
                        <input type="hidden" id="reg_val" data-check value="" /><input type="hidden" id="reg_excl" value="0" />
                    </div>
                    <div class="form-group">
                        <label for="addr" class="label_form">Адрес</label>
                        <div class="sub_form">
                            <input id="addr" type="text" class="search_input" data-check placeholder="Адрес, Web, E-Mail" @Html.Raw(add_tag) />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="label_form">Телефон</label>
                        <div class="sub_form">
                            <input id="phone" type="text" class="search_input" data-check placeholder="Телефон (Код региона в скобках)" title="Код города нужно выделять скобками" @Html.Raw(add_tag) />
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="label_form">Листинг</label>
                        <div class="sub_form">
                            <input type="checkbox" id="l2" name="l2" value="1" data-check />ММВБ
                            <input type="checkbox" id="l3" name="l3" value="1" data-check />РТС Board
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label_form">Наличие</label>
                        <div class="sub_form">
                            <div class="sub_form_block">
                                <input type="checkbox" id="gaap" name="gaap" value="1" data-check />Отчетности IAS-GAAP
                            </div>
                            <div class="sub_form_block">
                                <input type="checkbox" id="bankr" name="bankr" data-check value="1" @Html.Raw(add_tag) @(user_id != 0 ? "" : "disabled=\"disabled\"") />В реестре недобросовестных поставщиков
                            </div>
                            <div class="sub_form_block">
                                <input type="checkbox" id="rgstr" name="rgstr" data-check value="1" @Html.Raw(add_tag) @(user_id != 0 ? "" : "disabled=\"disabled\"") />В реестре Росстата
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fas" class="label_form">Лидеры рынка (по регионам)</label>
                        <div class="sub_form">
                            <input id="fas" type="text" class="search_input" onclick="show_tree_selector(event,9,1,1)" placeholder="Лидеры рынка (по регионам)" title="Выбор предприятий,  находящихся в  Реестре Хозяйствующих субъектов, имеющих долю на рынке выбранного региона определенного товара, работ, услуг в размере более 35%." />
                        </div>
                        <input type="hidden" id="fas_val" data-check value="" /><input type="hidden" id="fas_excl" value="0" />
                    </div>
                    <div class="form-group">
                        <label for="gropVal" class="label_form">Группы</label>
                        <div class="sub_form">
                            <div class="customSelect" id="groupSelect" onclick="show_groupSelector();">
                                <span id="gropVal" class="customVal" data-check val="0">Нет</span>
                                <span class="icon-angle-down"></span>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <label for="countVal" class="label_form">Выводить по</label>
                        <div class="sub_form">
                            <div class="customSelect" id="countSelect" onclick="show_countSelector();">
                                <span id="countVal" class="customVal" val="30">30</span>
                                <span class="icon-angle-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btns darkblue large" onclick="doSearchUA()">Найти</button>
                        <button class="btns grey large" onclick="doClear()">Очистить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="result_block">
        <div class="content">
            <div id="search_result">
            </div>
        </div>
    </div>
</div>