@model List<RestService.Models.ReportMain>

@{
    if (Model != null && Model.Count() > 0)
    {
        <br />
       <table class="table" border="1" cellpadding="3" cellspacing="0" style="padding-left:-20px!important;">
            <thead style="background-color:#1a4471; color:#ffffff;">
            <th align="center" valign="middle">Код страны</th>
            <th align="center" valign="middle">Аккаунт</th>
            <th align="center" valign="middle">Статус аккаунта</th>
            <th align="center" valign="middle">ОС</th>
            <th align="center" valign="middle">Модель телефона</th>
            <th align="center" valign="middle">Банковская карта</th>
            <th align="center" valign="middle">Дисконтная карта</th>
            <th align="center" valign="middle">Дата заказа</th>
            <th align="center" valign="middle">Ресторан</th>
            <th align="center" valign="middle">Стол</th>
            <th align="center" valign="middle">Сумма без скидки, руб.</th>
            <th align="center" valign="middle">Скидка, руб.</th>
            <th align="center" valign="middle">Сумма с учетом скидки, руб.</th>
            <th align="center" valign="middle">Чаевые, %</th>
            <th align="center" valign="middle">Чаевые, руб.</th>
            <th align="center" valign="middle">Официант</th>
            <th align="center" valign="middle">Результат платежа</th>
            <th align="center" valign="middle" colspan="3">Банковская карта</th>
            <th align="center" valign="middle" width="100px">Дата создания аккаунта</th>
            <th align="center" valign="middle" width="100px">Дата изменения аккаунта</th>
            <th align="center" valign="middle" width="100px">Дата последнего использования</th>
            </thead>
            @{
                foreach (var item in Model)
                {
                    <text>
                    <tr>         
                        <td align="center" valign="top">+@item.PhoneCode</td> 
                        <td align="center" valign="top">@item.PhoneNumber</td>
                        <td align="center" valign="top">@(item.IsValid==1 ? "Активен" : "Не активен")</td>
                        <td align="center" valign="top">@(item.OS==1 ? "iOS" : "Android")</td>
                        <td align="center" valign="top">@item.PhoneModel</td>
                        <td align="center" valign="top">@item.BankCards</td>
                        <td align="center" valign="top">@item.DiscountCards</td>
                        <td align="center" valign="top">@((item.OrderDate.Year > 1970) ? (item.OrderDate.ToShortDateString() + " " + item.OrderDate.ToShortTimeString()) : "")</td>
                        <td align="center" valign="top">@item.RestaurantName</td>
                        <td align="center" valign="top">@item.TableID</td>
                        <td align="center" valign="top">@item.OrderTotal</td>
                        <td align="center" valign="top">@item.DiscountSum</td>
                        <td align="center" valign="top">@item.OrderSum</td> 
                        <td align="center" valign="top">@item.TippingProcent</td>
                        <td align="center" valign="top">@item.TippingSum</td> 
                        <td align="center" valign="top">@item.Waiter</td>
                        <td align="center" valign="top">@item.PaymentResult</td>
                        <td align="center" valign="top">@item.CardMaskPan</td>
                        <td align="center" valign="top">@item.CardExpiration</td>
                        <td align="center" valign="top">@item.CardHolderName</td>
                        <td align="center" valign="top">@(item.AccountCreateDate.Year > 1970 ? item.AccountCreateDate.ToShortDateString() : "")</td>
                        <td align="center" valign="top">@(item.AccountUpdateDate.Year > 1970 ? item.AccountUpdateDate.ToShortDateString() : "")</td>
                        <td align="center" valign="top">@(item.AccountLastDate.Year > 1970 ? item.AccountLastDate.ToShortDateString() : "")</td> 
                    </tr>  
                    </text>


                }
            }
        </table>
    }
    else
    {
        <center><h5 style="color:red;">Ничего не найдено</h5></center>
    }
            
    
    <script type="text/javascript">
        
        function search() {
            var filters = {
                FilterBeginDate: $('#beginDate').val(),
                FilterEndDate: $('#endDate').val()
            };
            $('#LoadingImage').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("MainReportLoad", "Reports")',
                data: filters,
                success: function (msg) {
                    $('#LoadingImage').hide();
                    $('#placedata').empty().html(msg);
                }
            });
        }

    </script>
}


    
