@model Skrin.Models.News.EventInfo

@{
    Layout = null;
}

<div>
    <div class="minicaption">СООБЩЕНИЯ, ОПУБЛИКОВАННЫЕ В ЛЕНТЕ НОВОСТЕЙ СИСТЕМЫ РАСКРЫТИЯ ИНФОРМАЦИИ</div>
    <br />
    <span class="bluecaption">@Model.FirmName</span>
    <br />
    <hr />
    <span class="bluecaption">@Model.EventTypeName</span>
    <br />
    <table width="100%" border="0">
        <tr valign="top">
            <td>
                <b>Дата и время публикации</b>
            </td>
            <td width="80%">
                @Model.InsertDate.ToRusStringTime()
            </td>
        </tr>
        <tr valign="top">
            <td>
                <b>Группа событий</b>
            </td>
            <td width="80%">
                @Model.EventGroupName
            </td>
        </tr>
        <tr valign="top">
            <td>
                <b>Тип события</b>
            </td>
            <td width="80%">
                @Model.EventTypeName
            </td>
        </tr>
        <tr valign="top">
            <td>
                <b>Дата события</b>
            </td>
            <td width="80%">
                @Model.EventDate.ToRusString()
            </td>
        </tr>
        <tr valign="top">
            <td>
                <b>Заголовок сообщения</b>
            </td>
            <td width="80%">
                @Model.Header
            </td>
        </tr>
        <tr valign="top">
            <td colspan="2">@Model.EventText.GetHtmlNewsText()</td>
        </tr>
    </table>
    <hr />
    @if(!string.IsNullOrEmpty(Model.Ticker))
    { 
    <table>
        <tr>
            <td style="font-size:11px;"><i>Данные организации</i></td>
        </tr>
        <tr>
            <td style="font-size:11px;"><a onclick="openIssuer('@Model.Ticker'); return false;" href="#">@Model.ShortFirmName</a></td>
        </tr>
    </table>
    <hr />
    }
    <table>
        <tr><td style="font-size:11px;" colspan="2"><i>Настоящее сообщение предоставлено непосредственно Субъектом раскрытия информации и опубликовано в соответствии с Положением о раскрытии информации эмитентами эмиссионных ценных бумаг, утвержденным Приказом ФСФР России от 04.10.2011 г. №11-46/пз-н, или Положением о требованиях к порядку и срокам раскрытия информации, связанной с деятельностью акционерных инвестиционных фондов и управляющих компаний паевых инвестиционных фондов, а также к содержанию раскрываемой информации, утвержденным Приказом ФСФР России от 22 июня 2005 г. №05-23/пз-н. За содержание сообщения и последствия его использования информационное агентство "CКРИН" ответственности не несет.</i></td></tr>
        <tr>
            <td>
                Телефон для справок:(495) 787-17-67, e-mail:
                <a href="mailto:disclosure@Skrin.ru">disclosure@skrin.ru</a>
            </td>
        </tr>
    </table>
</div>
